@import "tailwindcss";
@import "tw-animate-css";
html,
body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

.hpe, .hpe-proliant, .xp7, .hpe-xp7 {
  background-image: url("/bg/hpe-bg.jpeg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 500px !important;
  justify-content: center !important;
  color: white !important;
}
.dell-emc {
  background-image: url("/bg/dell-bg.jpeg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  width: 500px !important;
  justify-content: center !important;
  color: white !important;
}
.vertiv {
  background-image: url("/bg/vertiv-bg.png") !important;
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
  width: 500px !important;
  justify-content: center !important;
  color: white !important;
}
.netswitch, .switch ,.netpanel {
  background-image: url("/bg/switch-bg.jpeg") !important;
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
  width: 500px !important;
  justify-content: center !important;
  color: white !important;
}
.purestorage {
  background-image: url("/bg/storage-bg.png") !important;
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
  width: 500px !important;
  justify-content: center !important;
  color: white !important;
}
.hpe .node-container, 
.hpe-proliant .node-container, 
.xp7 .node-container, 
.dell-emc .node-container,
.netswitch .node-container,
.vertiv .node-container {
  background: rgba(0, 0, 0, 0.5) !important;
}
